@charset "UTF-8";

/* pinterest grid
----------------------------------------*/
#container {
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	position: relative;
	padding-bottom: 10px;
}

.grid {
	background: #fff;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	float: left;
	font-size: 12px;
	min-height: 100px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 250px;
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	transition: top 1s ease, left 1s ease;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	word-break:break-all;
}
.grid .imgholder img {
	background: #ccc;
	display: inline-block;
	width: 100%;
}
.grid p {
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 10px 0;
  padding: 0 0 5px;
}
.grid p a {
	text-decoration: none;
	color: #fa3599;
	font-weight: bold;
}
.grid .meta {
  color: #777;
  font-style: italic;
  text-align: right;
}
